<a href="https://colab.research.google.com/github/minhbao1705/AIO-2023/blob/main/M01W02_Exercise_Hint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EX1: Hoàn thành đoạn code sau để giải quyết Problem 1

In [ ]:
def max_in_window(num_list, k = 3):
    # Your code here
    ma = 0
    x = []
    for i in range(len(num_list)):
      if (i+(k-1)) <= (len(num_list)-1):
        ma = max(num_list[i:i+k])
        x.append(ma)
      else:
        break
    return x
    # End your code

test = [3, 4, 5, 1, -44]
assert max_in_window(num_list = test, k = 3) == [5, 5, 5]

In [ ]:
num_list = [3, 4, 5, 1, -44 , 5 ,10, 12 ,33, 1]
print(max_in_window(num_list = num_list, k = 3))

# A [5, 5, 5, 5, 10, 12, 33, 33]
# B [2, 5, 3, 4, 1, 10, 3, 3]
# C [0, 9, 5, 1, 0, 12, 3, 33]
# D Raise a Error

[5, 5, 5, 5, 10, 12, 33, 33]

EX2: Hoàn thành đoạn code sau để giải quyết Problem 2

In [ ]:
def intersection(lst1, lst2):
    # Your code here
    x= []
    for i in range(len(lst1)):
      for j in range(len(lst2)):
        if lst1[i] == lst2[j]:
          x.append(lst1[i])
          break
    return x
    # End your code

test_list1 = [4, 9]
test_list2 = [9, 2]
assert intersection(lst1 = test_list1, lst2 = test_list2) == [9]

In [ ]:
num_list1 = [4, 9, 5]
num_list2 = [9, 4, 9, 8, 4]
intersection(num_list1, num_list2)

#A [9, 9] 
#B [4, 9]
#C [4, 2]
#D Raise a Error

[4, 9]

EX3: Hoàn thành đoạn code sau để giải quyết Problem 3

In [ ]:
def count_chars(inp_str):
    # Your code here
    dict = {}
    for i in inp_str:
      dict[i] = dict.get(i, 0)+1
    return dict
    # End your code

test_string = 'Happiness'
assert count_chars(inp_str = test_string) == {'H': 1, 'a': 1, 'p': 2, 'i': 1, 'n': 1, 'e': 1, 's': 2}

In [ ]:
string = 'smiles'
count_chars(string)

#A {'s': 2, 'm': 1, 'i': 1, 'l': 1, 'e': 1}
#B {'s': 0, 'm': 1, 'i': 1, 'l': 1, 'e': 8}
#C {'s': 4, 'm': 1, 'i': 2, 'l': 1, 'e': 1}
#D Raise a Error

{'s': 2, 'm': 1, 'i': 1, 'l': 1, 'e': 1}

EX4: Hoàn thành đoạn code sau để giải quyết Problem 4

In [ ]:
!gdown https://drive.google.com/uc?id=1IBScGdW2xlNsc9v5zSAya548kNgiOrko

Downloading...
From: https://drive.google.com/uc?id=1IBScGdW2xlNsc9v5zSAya548kNgiOrko
To: /content/P1_data.txt
100% 747/747 [00:00<00:00, 2.41MB/s]

In [ ]:
def count_words(file_path):
    # Your code here
    dict={}
    a_file = open(file_path, 'r')
    data = a_file.read()
    data = data.replace(',', '')
    data = data.replace('.', '')
    data = data.replace('-', '')
    data = data.lower()
    data = data.split()
    for i in data:
      dict[i] = dict.get(i, 0)+1
    return dict
    # End your code

file_path = '/content/P1_data.txt'
assert count_words(file_path)['success'] == 3

In [ ]:
file_path = '/content/P1_data.txt'
count_words(file_path)['man']

#A 4 
#B 5
#C 6
#D 9

6

EX5: Đầu
ra của chương trình sau đây là gì?

In [ ]:
n = 1 
for i in range(0, 500, 100):
  n = i
print(n)

# A: 900   B:400   C: None  D:  Raise a Error

400

EX6: Đầu
ra của chương trình sau đây là gì?

In [ ]:
data = "I'm learning Python!"
print(data.split()[1])

#A: Python 
#B: learning
#C: I'm 
#D: Raise a Error

learning

EX7: Hoàn thành chương trình sau. Đầu
ra của chương trình sau đây là gì?

In [ ]:
def check_the_number(N):
  list_of_numbers = []
  result = ""
  for i in range(1, 5):
    #Your code here 
    list_of_numbers.append(i)
    #Sử dụng append thêm i vào trong list_of_number
  if N in list_of_numbers:
    results = "True"
  if N not in list_of_numbers:
    results = "False"
  return results

N = 7
assert check_the_number(N) == "False"

In [ ]:
N = 2
results = check_the_number(N)
print(results)

# A: True   B: False  C: Nothing  D: Raise a Error

True

EX8: Đầu ra của chương trình dưới đây là gì?

In [ ]:
data = "my list : [ 1, 2, [3, 4]]"
print(type(data))

# A: <class 'str'>  
#B: <class 'list'>  
#C: <class 'mydata'>  
#D:  Raise a Error

<class 'str'>

EX9: Đầu ra của chương trình dưới đây là gì?

In [ ]:
"Eiffel" > "Apple"

#A: True  
#B:False  
#C:Raise a Error
#D: None of the above

True

EX10: Đầu ra của chương trình dưới đây là gì?

In [ ]:
n = 0
for i in range(5):
  n += i
  if n>0 and n%3 == 0:
      break
print(n)

#A: 0  B:3  C:Raise a Error D: 6

3

EX11: Đầu ra của chương trình dưới đây là gì?

In [ ]:
space1 = "Cherry Blossom After Winter"
space2 = "Flowers are blooming on the hillsides, which signals the coming of spring"
space = space1 + space2
print(space[-6:])

#A: spring  B: Raise a Error  C:here!  D: spring?

spring

EX12: Đầu
ra của chương trình sau đây là gì?

In [ ]:
my_list = [0, 1, 1, 2, 1]
odd = 1
even = 0

for number in my_list:
  if number % 2 == 0:
    odd += number
  else:
    even += number
print(f"odd:{odd}, even:{even}")

#A: odd:1, even:0  B: odd:3, even:10  C:odd:3, even:3  D: Raise a Error

odd:3, even:3

EX13: Đầu
ra của chương trình sau đây là gì?

In [ ]:
weather = '@the drizzle in spring makes the air more humid. @@'
me = "i love iT!"

txt = weather.strip('@').capitalize()+ me.title() 
print(txt)

#A: The drizzle in spring makes the air more humid. I Love It!
#B: The drizzle in spring makes the air more humid. i love it! 
#C: the drizzle in spring makes the air more humid. @@ I Love It!
#D: Raise a Error

The drizzle in spring makes the air more humid. I Love It!

EX14: Đầu
ra của chương trình sau đây là gì?

In [ ]:
data = [1, 9, 3, -3 ]
data.sort()
print(data)

#A: [-3, 1, 3, 9]  
#B: [1, 2, 3, 4] 
#C: [9, 3, 1, -3]  
#D: Raise a Error

[-3, 1, 3, 9]

EX15: Đầu
ra của chương trình sau đây là gì?

In [ ]:
my_exam = "Under the drizzle, the flower field seems covering with the glitter water drops!"
print(my_exam.strip('!').split())

#A: ['Under', 'the', 'drizzle,', 'the', 'flower', 'field', 'seems', 'covering', 'with', 'the', 'glitter', 'water', 'drops'] 
#B: Raise a Error
#C: ['Under', 'the', 'drizzle,', 'the', 'flower', 'field', 'seems', 'covering', 'with', 'the', 'glitter', 'water', 'drops', '!']
#D: All A, B, C

['Under', 'the', 'drizzle,', 'the', 'flower', 'field', 'seems', 'covering', 'with', 'the', 'glitter', 'water', 'drops']

EX16: Đầu
ra của chương trình sau đây là gì?

In [ ]:
my_string = "Peach blossoms bloom in spring"

my_bag_of_word = []
for element in my_string:
  if element not in my_bag_of_word:
    my_bag_of_word.append(element)
print(my_bag_of_word)

#A: ['P', 'e', 'a', 'c', 'h']
#B: [' ']
#C: Raise a Error
#D: ['P', 'e', 'a', 'c', 'h', ' ', 'b', 'l', 'o', 's', 'm', 'i', 'n', 'p', 'r', 'g']

['P', 'e', 'a', 'c', 'h', ' ', 'b', 'l', 'o', 's', 'm', 'i', 'n', 'p', 'r', 'g']

EX17: Đầu
ra của chương trình sau đây là gì?

In [ ]:
my_string = "My name is Tom"
results = my_string.count('m')

print(results)

#A: Raise a Error    B: 2      C: 3      D: 4

2

EX18: Đầu
ra của chương trình sau đây là gì?

In [ ]:
even_numbers = [x for x in range(1,5) if x % 2==0]
print(even_numbers)

#A: Raise a Error  B: [1, 2, 3, 4, 5] C: [2, 4] D: [3, 5]

[2, 4]

EX19: Đầu
ra của chương trình sau đây là gì?

In [ ]:
X = [[1, 1],
    [2, 2]]

result = [[0,0],
          [0,0]]

for i in range(len(X)):
   for j in range(len(X[0])):
    result[j][i] = X[i][j]

for r in result:
   print(r)

#A: [1, 2]
#   [1, 2]

#B: [1, 2, 3] [1, 2, 3]


#C: [1, 1, 2, 2]


#D: Raise a Error

[1, 2]
[1, 2]

EX20: Đầu
ra của chương trình sau đây là gì?:

In [ ]:
def my_function(my_data):
  rs = 0
  for i in my_data:
    rs = rs + i
  return rs

my_list = [1, 2, 3]
print(my_function(my_data = my_list))

#A: 5       B: 6       C: 8          D: 9

6

EX21: Đầu
ra của chương trình sau đây là gì?

In [ ]:
def my_function(my_data):
  result = []
  for element in data:
    if element not in result:
      result.append(element)
  return result

data = [ {'id': 'M12'}, 10, 20, 30]
print(my_function(data))

#A: [{'id': 'M12'}, 10, 20, 30]
#B: ['id', 'M12', 10, 20, 30]
#C: [10, 20, 30]
#D: Raise a Error

[{'id': 'M12'}, 10, 20, 30]

EX22: Hoàn thành chương trình sau

In [ ]:
def my_function(data, max, min):
    result = []
    for i in data:
        #Your code here
        if i < min:
          result.append(min)
        #Nếu i < min thì thêm i vào result
        
        elif i > max:
            result.append(max)
        else:
            result.append(i)
    return result
my_list = [5, 2, 5, 0, 1]
max = 1
min = 0
assert my_function(max = max, min = min, data = my_list) == [1, 1, 1, 0, 1]

In [ ]:
my_list = [10, 2, 5, 0, 1]
max = 2
min = 1
print(my_function(max = max, min = min, data = my_list))

#A: [10, 2, 5, 1, 1]
#B: [0, 2, 2, 0, 0]
#C: [2, 2, 2, 1, 1]
#D: Raise a Error

[2, 2, 2, 1, 1]

EX23: Hoàn thành chương trình dưới đây

In [ ]:
def my_function(x, y):
    #Your code here
    x.extend(y)
    return x
    # Sử dụng extend để nối y vào x

list_num1 = ['a', 2, 5]
list_num2 = [1, 1]
list_num3 = [0, 0]

assert my_function(list_num1, my_function(list_num2, list_num3)) == ['a', 2, 5, 1, 1, 0, 0]

In [ ]:
list_num1 = [1, 2]
list_num2 = [3, 4]
list_num3 = [0, 0]

print(my_function(list_num1, my_function(list_num2, list_num3)))

#A: [1, 2, 3, 4, 0, 0]
#B: [1, 2, [3, 4, 0, 0]]
#C: [[1, 2, 3, 4, 0, 0]]
#D: Raise a Error

[1, 2, 3, 4, 0, 0]

EX24: Hãy hoàn thành chương trình tìm phần tử có giá trị nhỏ nhất trong một list dưới đây

In [ ]:
def my_function(n):
    #Your code here
    min = n[0]
    for i in range(len(n)):
      if n[i] < min:
        min = n[i]
    return min

my_list = [1, 22, 93, -100]
my_function(my_list)
assert my_function(my_list) == -100

In [ ]:
my_list = [1, 2, 3, -1]
print(my_function(my_list))

#A: None
#B: Raise a Error
#C: -1
#D: 3

-1

EX25: Hãy hoàn thành chương trình tìm phần tử có giá trị lớn nhất trong một list dưới đây

In [ ]:
def my_function(n):
    #Your code here
    max = n[0]
    for i in range(len(n)):
      if n[i] > max:
        max = n[i]
    return max

my_list = [1001, 9, 100, 0]
assert my_function(my_list) == 1001

In [ ]:
my_list = [1, 9, 9, 0]
print(my_function(my_list))

#A: None
#B: Raise a Error
#C: 0
#D: 9

9

EX26: Hãy hoàn thành chương trình dưới đây

In [ ]:
def My_function(integers, number = 1):
    return any(#Your code here: Thực hiện duyệt từng phần tử trong integers, so sánh từng phần tử với number, nếu bằng nhau trả về True, khác nhau trả về false 
               #ví dụ: integers = [1, 2, 3], number = 2, bạn sẽ tạo ra list [False, True, False] 
               elements==number for elements in integers)

my_list = [1, 3, 9, 4]
assert My_function(my_list, -1) == False

In [ ]:
my_list = [1, 2, 3, 4]
print(My_function(my_list, 2))

#A: 1
#B: 4
#C: True
#D: False

True

EX27: Hãy hoàn thành chương trình tính giá trị trung bình các phần tử trong list dưới đây:

In [ ]:
def my_function(list_nums = [0, 1, 2]):
    var = 0
    for i in list_nums:
        var += i
    return (var/len(list_nums)) #Your code here: Trả về giá trị trung bình của list bằng cách chia var cho số lượng phần tử trong list_mums

assert my_function([4, 6, 8]) == 6

In [ ]:
print(my_function())

#A: 1.0
#B: 2.0
#C: Raise a Error
#D: A and C

1.0

EX28: Đầu ra của chương trình sau đây là gì?

In [ ]:
def my_function(signal1, signal2):
  var = False
  for s1 in signal1:
    for s2 in signal2:
      if s1 == s2:
        var = True
        return var
print(my_function([1, 1, 1], [2, 2, 2]))

#A: False
#B: True
#C: Raise a Error
#D: None

None

EX29: Đầu
ra của chương trình sau đây là gì??

In [ ]:
def My_function(signal1, signal2):
  var = False
  for s1 in signal1:
    for s2 in signal2:
      if s1 == s2:
        var = True
        return var
print(My_function([1, 2, 3], [2, 2]))

#A: False
#B: True
#C: Raise a Error
#D: None

True

EX30: Hãy hoàn thành chương trình dưới đây thực hiện trả về một danh sách chỉ chứa số nguyên chia hết cho 3 từ một list các số nguyên:

In [ ]:
def my_function(data):
  var = []
  for i in data:
    #Your code here
    if i%3==0:
      var.append(i)
    #Nếu i chia hết cho 3 thì thêm i vào list var
  return var

assert my_function([3, 9, 4, 5]) == [3, 9]

In [ ]:
print(my_function([1, 2, 3, 5, 6]))

#A: [3, 6]
#B: [1, 2, 3, 5, 6]
#C: A and D
#D: [5, 1]

[3, 6]

EX31: Đầu
ra của chương trình sau đây là gì?

In [ ]:
def my_function(x):
  for i in range(x):
    for j in range(x):
      if i == j:
        print("1 ", end=" ")
      else:
        print("0 ", end=" ")
    print()
my_function(2)

1  0
0  1

In [ ]:
# #A: 1   0
#     0   1

# #B: 0   1
#     1   0

# #C: [1, 0, 0, 1]

# #D: None

EX32: Hãy hoàn thành chương trình sau đây thực hiện tính giai thừa của 1 số

In [ ]:
def my_function(y):
  var = 1
  while(y > 1):
    var = var * y
    y = y - 1
  return var

assert my_function(8) == 40320

In [ ]:
print(my_function(4))

#A: 0
#B: 20
#C: 24
#D: Raise a Error

24

EX33: Đầu
ra của chương trình sau đây là gì?

In [ ]:
def my_function(signal):
  var = True
  while var:
    var = False
    for i in range(len(signal) - 1):
      if signal[i] > signal[i + 1]:
        signal[i], signal[i + 1] = signal[i + 1], signal[i]
        var = True

my_signal = [1, 2, 3, 0]
my_function(my_signal)
print(my_signal)

#A: [0, 1, 2, 3]
#B: [1, 1, 1, 1]
#C: [3, 2, 1, 0]
#D: Raise a Error

[0, 1, 2, 3]

EX34: Đầu
ra của chương trình sau đây là gì?

In [ ]:
def sum_function(num1, num2):
 '''
 Sum of two numbers
 input: num1, num2
 output: num1+num2
 '''
 return num1 + num1

print(sum_function.__doc__)

 Sum of two numbers
 input: num1, num2
 output: num1+num2

In [ ]:
# '''
# A:  Sum of two numbers
#     input: num1, num2
#     output: num1+num2
# B: 10
# C: Raise a Error
# D: 100!
# '''

EX35: Hãy hoàn thành chương trình đảo ngược chuỗi dưới đây

In [ ]:
def my_function(x):
  #your code here
  return x[::-1]

x = 'I can do it'
assert my_function(x)=="ti od nac I"

In [ ]:
x = 'apricot'
print(my_function(x))

#A: apricot
#B: tocirpa
#C: at
#D: ta

tocirpa

EX36: Hãy hoàn thành chương trình dưới đây

In [ ]:
def function_helper(x):
  #Your code here
  #Nếu x>0 trả về 'T', ngược lại trả về 'N'
  return 'T' if x>0 else 'N'

def my_function(data):
  res = [function_helper(x) for x in data]
  return res

data = [10, 0, -10, -1]
assert my_function(data) == ['T', 'N', 'N', 'N']

In [ ]:
data = [2, 3, 5, -1]
print(my_function(data))

# '''
# a) ['N', 'T', 'T', 'N']
# b) ['T', 'N', 'T', 'N']
# c) ['T', 'T', 'T', 'N']
# d) Raise a Error
# '''

['T', 'T', 'T', 'N']

EX37: Hãy hoàn thành chương trình dưới đây

In [ ]:
def function_helper(x, data):
  for i in data:
    #Your code here
    if x==i:
      return 0
    #Nếu x == i thì return 0
  return 1

def my_function(data):
  res = []
  for i in data:
    if function_helper(i, res):
      res.append(i)
  
  return res

lst = [10, 10, 9, 7, 7]
assert my_function(lst)==[10, 9, 7]

In [ ]:
lst = [9, 9, 8, 1, 1]
print(my_function(lst))

#A: [9, 8, 1]
#B: [1, 1, 1]
#C: [9, 9, 8, 1, 1]]
#D: Raise a Error

[9, 8, 1]